* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(/3.jpg) 50% 50% no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: table;
}

.container {
    margin-top: 300px;
}

h1 {
    color: #fff;
    font-weight: 300;
    font-size: 400%;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

p {
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

@media(max-width: 768px) {
    h1 {
        font-size: 300%;
    }
    p {
        font-size: 17px;
        letter-spacing: 10px;
    }
}